// Escape string for media queries
@tablet: ~"screen and (max-width: 1023px)";
@mobile: ~"screen and (max-width: 767px)";

@media @tablet {
    .container {
        max-width: 80%;
    }
    
    .products {
        grid-template-columns: repeat(2, 48.5%);
        column-gap: 3%;
    }
}

@media @mobile {
    .products {
        display: block;
    }
    
    .product-item {
        margin-bottom: 32px;
    }
}
